td {
    background-color: darkgoldenrod;
    color: aqua;

}
marquee{
    behavior:scroll;
    direction:left;
    marquee-speed:fast;
}
h3 {
    color: aliceblue;
    size: A3;
}

.pink {
    color: deeppink;
    text-align: center;
    font-family: "Bauhaus 93";
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

td {
    height: 50px;
    text-align:center;

    animation: mymove 5s infinite;
}


table {
    border: dashed 3px darkmagenta;
    width: 800px;


}
body {
    background-color: black;
}


@keyframes mymove {
    50% {font-size: 40px;}
}



@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
@keyframes move {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}